# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

node_modules
client/dist
server/lib
**/*/ENV_VAR
ENV_VAR
**/env/development.js
development.js